{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Portfolio - Home {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {%block extrahead %}
    {%endblock extrahead %}



</head>
<body>

    
    
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Welcome to My Portfolio</h2>
            <p>Explore my projects and contact me if you have any inquiries.</p>
        </div>
        <div class="right-nav">
            <li>
                <a href="#home" class="t-whiteroboto">Home
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li><a href="#about" class="t-whiteroboto">About
                <i class="fa-solid fa-user"></i>
            </a></li>
            <li><a href="#skills" class="t-whiteroboto">Skills
                <i class="fa-solid fa-code"></i>
            </a></li>
            <li><a href="#projects" class="t-whiteroboto">Projects
                <i class="fa-solid fa-project-diagram"></i>
            </a></li>            
            <li><a href="#contact" class="t-whiteroboto">Contact
                <i class="fa-solid fa-rocket"></i>
            </a></li>
        </div>

    </nav>
    <section id="none" class="flex s-around sw-80 m-auto" style="flex-direction: column; align-items: center;">
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainimage">
                <img src="{% static 'image/me.jpg' %}"  alt="My picture" srcset="">
            </div>
            <div class="home-left flex items-center">
                <div class="home-content">
                    <h3 class="popinss">Hi, I'm</h3>
                    <h2 class="t-white">Nnedinma Ezemonye</h2>
                    <h4 class="popinss"> a Python Programmer</h4>
                    <div class="button-container">
                        <a href="/static/code/my%20resume.pdf" target="_blank">
                            <button class="btn popinss">Resume</button>
                        </a>
                        <a class="btn live popinss" id="hireme" href="" target=" _blank">Contact me</a>
                    </div>
                </div>
            </div>
    </section>

    <section id="about">
        
        <div class="about-container flex s-around">
            <div class="about-right flex">
                <p class="t-white popinss">I'm constantly learning and growing, and I’m excited to contribute to projects that solve real-world problems. Whether it's a small script or a full-scale application, I bring dedication, curiosity, and a problem-solving mindset to every line of code. </p>
                <p class="t-white popinss">Feel free to explore my work and reach out if you'd like to connect or collaborate!</p>
                <a id="hireme" href="mailto:your.email@example.com" class="btn popinss">Hire me</a>
           </div>
       </div>
    </section>

    <section id="skills">
        <h2 class="t-center my-2 t-white f-2"> Skill Set</h2>
        <div class="services-container flex s-around h-50">
            <div class="skills-right flex items-center">
                <div class="skills-container" style="display: flex; flex-wrap: wrap; gap: 10px;">
                    <span class="skill-box">Core Python - 80%</span>
                    <span class="skill-box">Django - 60%</span>
                    <span class="skill-box">Data Analysis - 60%</span>
                    <span class="skill-box">Basic Web Development - 60%</span>
                    <span class="skill-box">Automation & Scripting - 65% </span>
                </div>
            </div>
        </div>
    </section>

    <section id="Project">
        <h1 class="t-center my-2 t-white f-2 ">Project</h1>
        <div class="project-container">
            <div class="project-item flex f-cool s-center items-center">
                <h2 class=" t-white popinss">Project 1</h2>
                <p class="t-white popinss">Project 1 description</p>
                <div class="button flex s-around">
                    <a href="" target="_blank" class="btn mx-1 m-top">Github link</a>
                </div>
            </div>
    
            <div class="project-item flex f-cool s-center items-center">
                <h2 class=" t-white popinss">Project 2</h2>
                <p class="t-white popinss">Project 2 description</p>
                <div class="button flex s-around">
                    <a href="" target="_blank" class="btn mx-1 m-top">Github link</a>
                </div>
            </div>
    
            <div class="project-item flex f-cool s-center items-center">
                <h2 class=" t-white popinss">Project 3</h2>
                <p class="t-white popinss">Project 3 description</p>
                <div class="button flex s-around">
                    <a href="" target="_blank" class="btn mx-1 m-top">Github link</a>
                </div>
            </div>
    
            <div class="project-item flex f-cool s-center items-center">
                <h2 class=" t-white popinss">Project 4</h2>
                <p class="t-white popinss">Project 4 description</p>
                <div class="button flex s-around">
                    <a href="" target="_blank" class="btn mx-1 m-top">Github link</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="m-b-1">
        <h2 class="t-center my-2 t-white f-2">Contact Me</h2>
        <div class="contact-container flex s-around-items-center">
            <div class="form " id="contactform">
                <form method="post">
                    <div class="name fore-div">
                        <input type="text" name="name" id="name" class="popinns" placeholder="Enter your Name" required>
                    </div>

                    <div class="email fore-div">
                        <input type="email" name="email" id="" class="popinns" placeholder="Enter your Email" required>
                    </div>

                    <div class="number fore-div">
                        <input type="number" name="number" id="name" class="popinns" placeholder="Enter your Phone No" required>
                    </div>

                    <div class="textarea fore-div">
                        <textarea type="content" name="content" id="textarea" color="30" rows="10" class="popinns" placeholder="Additoional message"></textarea>
                    </div>
                    <button type="submit" class="btn popinns" id="submit">Send</button>
                </form>

            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-content flex s-center w-80 m-auto my-2 res font-awesome">
            <ul class="horizontal-list">
                <li><a href="#home" class="popinss">Home</a></li>
                <li><a href="#about" class="popinss">About</a></li>
                <li><a href="#skills" class="popinss">Skills</a></li>
                <li><a href="#project" class="popinss">Project</a></li>
            </ul>
            <ul class="horizontal-list">
                <a href="" target="_blank"><li><i class="fe-brands fa-linkedin-in"></i> LinkedIn</li></a>
            </ul>
        </div>
        <p class="t-center my-2 popinss">copyright; All Right Reserved</p>
    </footer>

        





    <!--
    <header> 
        <ul class="nav-menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            
        </ul>
        <img src="{% static 'image/me.jpg' %}" alt="My picture" style="width: 200px; height: auto;" srcset="">


    </header>-->
   

    

    <main>
        {% block content%}
        {% endblock content%}
    </main>
   
    {%block extra_js%}
    {%endblock extra_js%}
    

    
    

    
</body>
</html>




